*.iml
*.lock
*.log
.dart_tool/
.packages
build/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore
*.p12
*.key
*.mobileprovision
*.orig.*
web/